In [29]:
import sqlite3

In [30]:
connection = sqlite3.connect("test.db")

In [31]:
type(connection)

sqlite3.Connection

In [38]:
con = sqlite3.connect(":memory:")

cursor = con.cursor()

query = "Select datetime('now', 'localtime')"
time = cursor.execute(query)


print(time.fetchone())
con.close()

('2025-03-16 13:16:49',)

In [55]:
with sqlite3.connect("test.db") as connection:
    cursor = connection.cursor()
    cursor.execute("CREATE TABLE People(FirstName TEXT, LastName TEXT, Age INT)")
    cursor.execute("INSERT INTO People VALUES('Ron', 'Obvious', 42)")
    cursor.execute("INSERT INTO People VALUES('Luigi', 'Vercotti', 43)")

In [56]:
with sqlite3.connect("test.db") as connection:
    cursor = connection.cursor()
    cursor.execute("SELECT FirstName, LastName FROM People")

    for row in cursor.fetchall():
        print(row)

('Ron', 'Obvious')
('Luigi', 'Vercotti')

In [52]:
with sqlite3.connect("test.db") as connection:
    cursor = connection.cursor()
    cursor.execute("drop table People")

In [57]:
with sqlite3.connect("test.db") as connection:
    cursor = connection.cursor()
    cursor.execute("SELECT Age, LastName FROM People")
    for row in cursor.fetchall():
        print(row)

(42, 'Obvious')
(43, 'Vercotti')

In [64]:
sql = """
Drop table if exists Students;

Create Table Students(id int, major text, credits int);

Insert into Students values
(1, 'Math', 32),
(2, 'Engineering', 45),
(3, 'Science', 15),
(4, 'Business', 50);
"""

In [67]:
with sqlite3.connect("test.db") as connection:
    cursor = connection.cursor()
    cursor.executescript(sql)

In [83]:
with sqlite3.connect("test.db") as connection:
    cursor = connection.cursor()
    query = "Select * from Students order by Credits desc"
    data = cursor.execute(query)

data.fetchmany(2)

[(4, 'Business', 50), (2, 'Engineering', 45)]

In [ ]:
3